<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="hold-transition sidebar-mini">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="flash-message" class="flash-success">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<div class="sidebar">

    <div class="logo">
        hamo store
    </div>

    <nav class="sidebar">

    {% set role = session.get('role') %}
    {% set perms = session.get('permissions', '').replace(' ', '').split(',') %}

    <span class="user-info">
        👤 {{ session.get('full_name','') }}
    </span>

    <a href="{{ url_for('dashboard') }}">🏠 الرئيسية</a>

    <!-- SERVICES -->
    {% if role == 'admin' or 'services' in perms %}
    <a href="{{ url_for('services') }}">🛒 الخدمات</a>
    {% endif %}

    <!-- SALES -->
    {% if role == 'admin' or 'sales' in perms %}
    <a href="{{ url_for('sales') }}">💰 المبيعات</a>
    {% endif %}

    <!-- PURCHASES -->
    {% if role == 'admin' or 'purchases' in perms %}
    <a href="{{ url_for('purchases') }}">💰 المشتريات</a>
    {% endif %}

    <!-- EXPENSES -->
    {% if role == 'admin' or 'expenses' in perms %}
    <a href="{{ url_for('expenses') }}">💸 المصروفات</a>
    {% endif %}

    <!-- CURRENCIES -->
    {% if role == 'admin' or 'currencies' in perms %}
    <a href="{{ url_for('currencies') }}">💱 العملات</a>
    {% endif %}

    
    <!-- visa gafar -->
    {% if role == 'admin' or 'visa_gafar' in perms %}
    <a href="{{ url_for('visa_gafar') }}">💱 فيزا جعفر</a>
    {% endif %}

    
    
    
    <!-- CUSTOMERS -->
    {% if role == 'admin' or 'customers' in perms %}
    <a href="{{ url_for('customers') }}">👤 العملاء</a>
    {% endif %}

    <!-- ACCOUNTS -->
    {% if role == 'admin' or 'accounts' in perms %}
    <a href="{{ url_for('accounts') }}">🏦 الحسابات</a>
    {% endif %}

    <!-- EMPLOYEES -->
    {% if role == 'admin' or 'employees' in perms %}
    <a href="{{ url_for('employees') }}">👥 الموظفين</a>
    {% endif %}

    <!-- REPORTS -->
    {% if role == 'admin' or 'reports' in perms %}
    <a href="{{ url_for('reports') }}">📊 التقارير</a>
    {% endif %}

    <div class="topbar-left">
        <a href="/logout" class="logout-btn">تسجيل الخروج</a>
    </div>
    {% if role == 'admin' or 'settings' in perms %}
    <a href="{{ url_for('settings') }}">📊 bauk up</a>
    {% endif %}

    </nav>

</div>

<div class="content">

    <div class="topbar">
        {% block titlebar %}
        نظام إدارة المبيعات
        {% endblock %}
    </div>

    <div class="page-content">

        {% block content %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% endblock %}

    </div>

</div>

<script>
setTimeout(function(){
    let msg = document.getElementById("flash-message");
    if(msg){
        msg.style.display = "none";
    }
}, 3000);
</script>
<script>
window.userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
console.log("Time Zone:", window.userTimeZone);
</script>
</body>
</html>