<!DOCTYPE html><html lang="ar" dir="rtl"><head>
    <meta charset="UTF-8">
    <title>تسجيل الدخول</title><link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">



</head><body class="login-page"><div ><div class="login-box">

    <div class="login-title">

        <h2>HMOOD STORE</h2>

        <p>تسجيل الدخول للنظام</p>

    </div>
    
    <form method="POST">

        <div class="form-group">

            <label>اسم المستخدم</label>

            <input type="text"
                   name="username"
                   class="form-control"
                   required>

        </div>

        <div class="form-group">

            <label>كلمة المرور</label>

            <input type="password"
                   name="password"
                   class="form-control"
                   required>

        </div>

        <button type="submit"
                class="btn-login">

            تسجيل الدخول

        </button>
        {% if error %}

        <div class="error-box">
        {{ error }}
        </div>

        {% endif %}

    </form>

</div>

</div></body></html>
