
{% extends "base.html" %}

{% block title %}Visa Gafar{% endblock %}

{% block content %}

<h2>💳 Visa Gafar</h2>

<div>
    <h3>إجمالي السعر: {{ total_amount|money }}</h3>
    <h3>إجمالي الباقات: {{ total_packages|money }}</h3>
    <h3>إجمالي الجملة: {{ wholesale_amount|money }}</h3>
     <h3>إجمالي القطاعي: {{ retail_amount|money }}</h3>
</div>

<div style="background:#eee;padding:10px;margin-bottom:10px;">
    <h3>💰 رصيد الفيزا: {{ balance|money }}</h3>
</div>
<div style="margin:10px 0;">
    <a href="/visa_gafar/cycles" class="btn-save">
        📊 تقارير جميع الدورات
    </a>
</div>


<hr>

<!-- إيداع -->
<form method="POST" action="/visa_gafar/deposit">
    <input type="number" name="amount" placeholder="إيداع">
    <button>➕ إيداع</button>
</form>

<br>

<!-- سحب -->
<form method="POST" action="/visa_gafar/withdraw">
    <input type="number" name="amount" placeholder="سحب">
    <button>➖ سحب</button>
</form>

<hr>

<h2>🟦 الجملة (5000 فأكثر)</h2>

<table>
<tr>
    <th>رقم العملية</th>
    <th>الباقة</th>
    <th>السعر</th>
    <th>الموظف</th>
    <th>حذف</th>
</tr>

{% for sale in wholesale_sales %}
<tr>
    <td>{{ sale['transaction_number'] }}</td>
    <td>{{ sale['package'] }}</td>
    <td>{{ sale['local_amount']|money }}</td>
    <td>{{ sale['employee'] }}</td>

    <td>
        {% if session.get('role') == 'admin' %}
        <a href="/visa_gafar/delete/{{ sale['id'] }}"
           onclick="return confirm('حذف العملية؟')"
           style="color:red;">
           🗑 حذف
        </a>
        {% endif %}
    </td>

</tr>
{% endfor %}

<tr style="background:#eee;font-weight:bold;">
<td></td>
    <td colspan="2">الإجمالي</td>
    <td>{{ wholesale_amount|money }}</td>
    <td>{{ wholesale_packages|money }}</td>
</tr>

</table>


<br><br>

<h2>🟩 القطاعي (أقل من 5000)</h2>

<table>

<tr>
    <th>رقم العملية</th>
    <th>الباقة</th>
    <th>السعر</th>
    <th>الموظف</th>
    <th>حذف</th>
</tr>

{% for sale in retail_sales %}
<tr>

    <td>{{ sale['transaction_number'] }}</td>
    <td>{{ sale['package'] }}</td>
    <td>{{ sale['local_amount']|money }}</td>
    <td>{{ sale['employee'] }}</td>

    <td>
        {% if session.get('role') == 'admin' %}
        <a href="/visa_gafar/delete/{{ sale['id'] }}"
           onclick="return confirm('حذف العملية؟')"
           style="color:red;">
           🗑 حذف
        </a>
        {% endif %}
    </td>

</tr>
{% endfor %}

<tr style="background:#eee;font-weight:bold;">
    <td colspan="2">الإجمالي</td>
    <td>{{ retail_amount|money }}</td>
    <td>{{ retail_packages|money }}</td>
</tr>

</table>

{% endblock %}
